#app
  margin 0
  padding 0
  .header
    background-color #EEEEEE 
    padding-top 30px
    .header_main
      width 800px
      margin 0 auto
      padding-bottom 30px
      position relative
      text-align center
      h2  
        font-family "Weibei TC"
        font-weight normal
        font-size 65px
      .add_note_btn
        width 100px
        height 40px
        position absolute
        bottom 0
        right 0
        background-color #FC7F00
        color #FFF
        border 1px soloid #FF3F01
        border-radius 5px
        &:hover
          background-color #FC5D02
  .container_main
    width 800px
    margin 50px auto
    .note_form_wrap
      .note_form
        position relative
        padding-bottom 50px
        h5
          font-family "Weibei TC"
          font-size 20px
        .your_title
          display block
          width 798px
          height 40px
          padding-left 10px
          border 1px solid #A6A0A0
          border-radius 5px
        .your_content
          display  block
          margin-top 20px
          margin-bottom 20px
          width 798px
          hright 100px
          padding-top 10px
          padding-left 10px
          border 1px solid #A6A0A0
          border-radius 5px
          $:focus
            border 1px solid #66afe9
            box-shadow 0px 0px 5px #66afe9
        .cancel_btn
          position:absolute
          width 70px
          height 40px
          right 60px
          margin-right 10px
          background-color #FFF
          border 1px solid #A6A0A0
          border-radius 5px
          &:hover
            background-color #EEEEEE
        .confirm_btn
          position absolute
          width 70px
          height 40px
          right -10px
          background-color #FC7F00
          color #FFF
          border 1px solid #FF3F01
          border-radius 5px
          &:hover 
            background-color #FC5D02
    .user_create_wrap
      .user_create
        position relative
        padding-bottom 50px
        h5
          font-family "Weibei TC"
          font-size 20px
        .your_create
          display block
          width 600px
          height 40px
          padding-left 10px
          border 1px solid #A6A0A0
          border-radius 5px
          margin-top: 10px
          margin-bottom 10px
        .create_cancel_btn
          position:absolute
          width 70px
          height 40px
          right 270px
          margin-right 10px
          background-color #FFF
          border 1px solid #A6A0A0
          border-radius 5px
          &:hover
            background-color #EEEEEE
        .create_confirm_btn
          position absolute
          width 70px
          height 40px
          right 200px
          background-color #FC7F00
          color #FFF
          border 1px solid #FF3F01
          border-radius 5px
          &:hover 
            background-color #FC5D02
    .user_login_wrap
      .user_login
        position relative
        padding-bottom 50px
        h5
          font-family "Weibei TC"
          font-size 20px
        .your_create
          display block
          width 600px
          height 40px
          padding-left 10px
          border 1px solid #A6A0A0
          border-radius 5px
          margin-top: 10px
          margin-bottom 10px
        .login_cancel_btn
          position:absolute
          width 70px
          height 40px
          right 270px
          margin-right 10px
          background-color #FFF
          border 1px solid #A6A0A0
          border-radius 5px
          &:hover
            background-color #EEEEEE
        .login_confirm_btn
          position absolute
          width 70px
          height 40px
          right 200px
          background-color #FC7F00
          color #FFF
          border 1px solid #FF3F01
          border-radius 5px
          &:hover 
            background-color #FC5D02
  .signup
    width 350px
    height 250px
    border 1px solid #ccc
    position absolute
    z-index 9999
    background-color #EEEEEE
  .notes_list
    width 810px
    margin 50px auto
    border-top 1px solid #A6A0A0
    .notes_item 
      position relative
      width 810px
      border-bottom 1px solid #A6A0A0
      margin-top 10px
      padding-top 20px
      padding-bottom 20px
      h4
        font-family "Weibei TC"
        font-size 20px
      p
        font-family "Weibei TC"
        font-size 14px
      .tag
        display inline-block
        margin-top 10px
        font-family "Weibei TC"
        font-size 14px
        .tag-right
          margin-left 330px
  .navBox 
    height 40px
    line-height 40px
    background #dddddd
    .nav-content
      overflow hidden
      display flex
      li
        float left
        width 100px
        text-align center
  .article_main
    margin 50px auto
    position relative
    width 810px
    font-size 16px
    border-bottom 1px solid #A6A0A0
    margin-top 10px
    padding-top 20px
    padding-bottom 20px
    h4
      font-family "Weibei TC"
      font-size 20px
    .article-tag
      display inline-block
      margin-top 10px
      font-family "Weibei TC"
      font-size 14px
      .tag-right
        margin-left 300px
   




